<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutmonero - Account</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Account</h1>

<hr>

<div style="font-size: large;">
An account is a group of subaddresses of a wallet.<br><br>

A wallet has a seed. From this seed, the primary address private spend and view keys are derived. From these private keys, subaddresses are derived. Subaddresses are grouped into accounts. This primary address is the first address in the first account in the wallet. Each account has its own balance, and can have multiple subaddresses associated with it. Since accounts are only groupings of subaddresses, there is no such thing as an account address (unless you count the first subaddress in the account as the 'account address'). So a wallet can have multiple accounts, and each account can have multiple subaddresses. Since accounts and subaddresses are deterministically derived from the seed, you only need to know the seed in order to restore the account/subaddress structure when restoring a wallet (although any labels you assign to the accounts/subaddresses will need to be noted separately).[1]
<br><br>
See also: <a href="../learn/address.html">Address</a> <a href="../learn/subaddress.html">Subaddress</a> <a href="../learn/wallet.html">Wallet</a> <a href="../learn/seed.html">Seed</a>
</div>
<hr>
<div style="font-size:large">
<h3>References</h3>
<ol>
<li>Difference between “Wallet” and “Account”, knacc; <a href="https://monero.stackexchange.com/questions/10111/difference-between-wallet-and-account">StackExchange</a> (2018) </li>

<li>Account, Monero Core Team; <a href="https://web.getmonero.org/resources/moneropedia/account.html">getmonero.org Website</a> (2020) </li>

<li>How Monero’s accounts and subaddresses work in Monerujo, Andres; <a href="https://medium.com/@anhdres/how-moneros-accounts-and-subaddresses-work-in-monerujo-4fa7df0a58e4">Medium</a> (2018) </li>

<li>Understanding Accounts and Subaddresses, Tigerix; <a href="https://www.reddit.com/r/Monero/comments/7ih4ni/understanding_accounts_and_subaddresses/">Reddit</a> (2017) </li>
</ol>
</div>
<hr>
<div style="font-size: large">
ℳ
<a href="../../index.html">Home</a>
<a href="../../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../../participate.html">Participate</a> 
<a href="../../statistics.html">Statistics</a> 
<a href="../../newsletter.html">Newsletter</a> 
<a href="../../legal.html">Legal</a> 
</div>
<hr>
</div>
</body>
</html>
