<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - Address</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Address<span style="float:right;"> aboutℳonero </span></h1>
    

<hr>

<div style="line-height: 1.5;">
A monero address is where monero is sent to. If you want to send monero to someone, you need their address.
This address can be your primary wallet address or a subaddress of a wallet. Every Monero address is 95 characters and begins with a 4.
The Monero Core Team donation address, for instance, is 44AFFq5kSiGBoZ4NMDwYtN18obc8AemS33DBLWs3H7otXft3XjrpDtQGv7SqSsaBYBb98uNbr2VBBEt7f2wfn3RVGQBEP3A. [1] 
<br><br>
Because monero addresses can be so long and difficult to remember, the Core team has introduced 
OpenAlias to create memorable personalized monero addresses. For example, monero donations can 
be sent to donate@getmonero.org or donate.getmonero.org. [2]
<br><br>
See also: <a href="../learn/open-alias.html">OpenAlias</a> <a href="../learn/stealth-address.html">Stealth Address</a> <a href="../learn/wallet.html">Wallet</a>

</div>
<hr>
<div style="line-height: 1.5">
<h3>References</h3>
<ol>
<li>Address, Monero Core; <a href="https://web.getmonero.org/resources/moneropedia/address.html">Monero Core Website</a> (2020) </li>
<li>OpenAlias Homepage, Monero Core; <a href="https://openalias.org/">OpenAlias Website</a> (2020) </li>
</ol>
</div>
<hr>
<div style="line-height:1.5">
ℳ
<a href="index.html">Home</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="explore.html">Explore</a> 
<a href="follow.html">Follow</a> 
<a href="legal.html">Legal</a> 
aboutmonero@protonmail.com
</div>
<hr>
</div>
</body>
</html>
