<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - Airdrop</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Airdrop <span style="float:right;"> aboutℳonero </span></h1>

<hr>

<div style="line-height: 1.5;">
Distributing a cryptocurrency token or coin, usually for free, to numerous wallet addresses. [1] In a typical ICO, participants contribute capital to buy tokens whereas, in an airdrop (or hard fork), tokens are allocated to existing holders of a particular chain—typically Bitcoin or Ethereum. Instead of buying tokens, they’re simply given away to the holders of another coin. [2]
<br><br>
See also: <a href="../learn/ico.html">ICO</a> <a href="../learn/fair-distribution.html">Fair Distribution</a>
</div>
<hr>
<div style="line-height: 1.5">
<h3>References</h3>
<ol>
<li>Airdrop (cryptocurrency), Wikipedia Editors; <a href="https://en.wikipedia.org/wiki/Airdrop_(cryptocurrency)">Wikipedia</a> (2020) </li>
<li>The Trend That Is Increasing The Urgency Of Owning Bitcoin And Ethereum, Spencer Bogart; <a href="https://www.forbes.com/sites/spencerbogart/2017/10/08/the-trend-that-is-increasing-the-urgency-of-owning-bitcoin-and-ethereum/#27ec56df116b">Forbes</a> (2017) </li>
</ol>
</div>
<hr>
<div style="line-height:1.5">
<a href="index.html">ℳ</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="explore.html">Explore</a> 
<a href="follow.html">Follow</a> 
<a href="legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
