<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - Altcoin</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Altcoin <span style="float:right;"> aboutℳonero </span></h1>
    


<hr>

<div style="line-height: 1.5;">
Aside from bitcoin, there are hundreds of other digital currencies out there. These are known as “altcoins,” or alternatives to bitcoin; for example, ether, ripple, zcash, monero and dash, to name just a few.

Altcoins can differ from Bitcoin in a range of ways. Some have a different economic model or a different coin-distribution method, like altcoins that were given away to all citizens of a country. Others employ different proof-of-work mining algorithms, perhaps to resist specialized mining hardware — or maybe they don’t even rely on proof of work at all. Several altcoins offer a more versatile programming language to build applications on top of, while yet others offer more privacy compared to Bitcoin. And there are also altcoins that serve very specific, non-monetary use cases, like domain name registry or data storage pointers. [1]
<br><br>
See also: <a href="../learn/hard-fork.html">Hard fork</a> <a href="../learn/ico.html">ICO</a>
</div>
<hr>
<div style="line-height: 1.5;">
<h3>References</h3>
<ol>
<li>What Is An Altcoin?, Bitcoin Magazine; <a href="https://bitcoinmagazine.com/guides/what-altcoin">Bitcoin Magazine</a> (2017) </li>
</ol>
</div>
<hr>
<div style="line-height:1.5">
<a href="index.html">ℳ</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="explore.html">Explore</a> 
<a href="follow.html">Follow</a> 
<a href="legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
