<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - ASIC</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>ASIC <span style="float:right;"> aboutℳonero </span></h1>
    

<hr>

<div style="line-height: 1.5;">
An application-specific integrated circuit (abbreviated as ASIC) is an integrated circuit (IC) customized for a particular use, rather than intended for general-purpose use. In mining hardware, ASICs were the next step of development after CPUs, GPUs and FPGAs. [1] <br><br>
The Monero team believes that ASIC machines have a centralizing effect as there are only a few companies in the world that are able to manufacture them. [2]
The Monero network successfully conducted a scheduled upgrade on Nov. 30. Among other features, the RandomX mining algorithm was introduced to cripple ASIC machines and improve the efficiency of CPUs. The Proof-of-Work algorithm uses random code execution and memory-intensive techniques to discourage the development of ASICs. Its introduction renders all existing CryptoNight ASICs obsolete, while the added complexity aims to make the development of new machines both expensive and ineffective.  [3]
<br><br>
See also: <a href="../learn/randomx.html">RandomX</a> <a href="../learn/proof-of-work.html">Proof-of-Work</a> <a href="../learn/hard-fork.html">Hard fork</a>
</div>
<hr>
<div style="line-height: 1.5;">
<h3>References</h3>
<ol>
<li>ASIC, Bitcoin Wiki Editors; <a href="https://en.bitcoin.it/wiki/ASIC">Bitcoin Wiki</a> (2020) </li>
<li>Monero Implements Hard Fork Including New ASIC-Resistant Mining Algorithm, Joeri Cant; <a href="https://cointelegraph.com/news/monero-implements-hard-fork-including-new-asic-resistant-mining-algorithm">CoinTelegraph</a> (2019) </li>
<li>Monero Penalizes GPU and ASIC Mining with RandomX Upgrade, Andrey Schevchenko; <a href="https://cryptobriefing.com/monero-penalizes-gpu-mining-randomx/">Crypto Briefing</a> (2019) </li></ol>
</div>
<hr>
<div style="line-height:1.5">
ℳ
<a href="index.html">Home</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="explore.html">Explore</a> 
<a href="follow.html">Follow</a> 
<a href="legal.html">Legal</a> 
aboutmonero@protonmail.com
</div>
<hr>
</div>
</body>
</html>
