<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutmonero - Atomic Swap</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Atomic Swap</h1>

<hr>

<div style="font-size: large;">
An atomic swap allows the exchange across two different blockchains. This allows two people to exchange different currencies without a third party. While there are currently no possible atomic swaps available for monero, there do exist cross-chain transactions for litecoin, bitcoin, and ethereum.
<br><br>
See also: <a href="../learn/dex.html">DEX</a>
</div>
<hr>
<div style="font-size:large">
<h3>References</h3>
<ol>
<li>Alt chains and atomic transfers, TierNolan; <a href="https://bitcointalk.org/index.php?topic=193281.msg2003765#msg2003765">BitcoinTalk</a> (2013) </li>

<li>Atomic Swap, Bitcoin Wiki Editors; <a href="https://en.bitcoin.it/wiki/Atomic_swap">Bitocin Wiki</a> (2020) </li>
</ol>
</div>
<hr>
<div style="font-size: large">
ℳ
<a href="../../index.html">Home</a>
<a href="../../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../../participate.html">Participate</a> 
<a href="../../statistics.html">Statistics</a> 
<a href="../../newsletter.html">Newsletter</a> 
<a href="../../legal.html">Legal</a> 
</div>
<hr>
</div>
</body>
</html>
