<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutmonero - Atomic Units</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Atomic Units</h1>

<hr>

<div style="font-size: large;">
ℳ1 = 1 000 000 000 000 atomic units. This is often the unit of measurement used in code to avoid using decimal numbers. This makes computation easier and quicker for computers. For humans, it is difficult to comprehend and discuss such large numbers, thus the unit conversion. [1]

<br><br>
See also: <a href="../learn/output.html">Output</a> <a href="../learn/supply-auditing.html">Supply Auditing</a> <a href="../learn/coinbase-transaction.html">Coinbase transaction</a>
</div>
<hr>
<div style="font-size:large">
<h3>References</h3>
<ol>
<li>Why does Monero seem to only use the first six decimal places (and not the full 12)?, bigreddmachine; <a href="https://monero.stackexchange.com/questions/1824/why-does-monero-seem-to-only-use-the-first-six-decimal-places-and-not-the-full">StackExchange</a> (2016) </li>
</ol>
</div>
<hr>
<div style="font-size: large">
ℳ
<a href="../../index.html">Home</a>
<a href="../../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../../participate.html">Participate</a> 
<a href="../../statistics.html">Statistics</a> 
<a href="../../newsletter.html">Newsletter</a> 
<a href="../../legal.html">Legal</a> 
</div>
<hr>
</div>
</body>
</html>
