<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - B-money</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>B-money <span style="float:right;"> aboutℳonero </span></h1>
    

<hr>

<div style="font-size: large;">
B-money was an early proposal created by Wei Dai for an "anonymous, distributed electronic cash system". Satoshi Nakamoto referenced b-money when creating Bitcoin. In his essay, published on the cypherpunks mailing-list in November 1998, Dai proposed two protocols. The first protocol is impractical as it requires a broadcast channel that is unjammable as well being synchronous.
<br><br>
In the first protocol in the essay, the use of a proof of work function is proposed as a means of creating money. Dai's B-Money was proposed in the context of cypherpunks mailing-list discussions relating to possible applications of Hashcash, the first symmetric proof-of-work function, which was itself also published on the same mailing-list, the previous year - May 1997. (Like the B-money proposal, bitcoin itself also uses the hashcash cost-function as the proof-of-work during coin minting). In B-Money, money is transferred by broadcasting the transaction to all participants, all of whom keep accounts of all others. Contracts can be made with possible reparation in case of default, with a third party agreeing to be the arbitrator. If there is no agreement, each party broadcasts arguments or evidence in its favor and each of the participants determines the reparations/fines in his accounts for himself.
<br><br>
The second protocol has only a subset of the participants (the "servers") keeping accounts, which they have to publish, and the participants who do transactions verifying their balances by asking many of them. The participants also verify that the money supply is not being inflated. An amount of money as bail is required to become a server, which is lost if the server is found to be dishonest.
<br><br>
An alternate method of creating money is proposed, via an auction where participants bid on the solution of computational problems of known complexity. [1]
<br><br>
See also: <a href="../learn/hashcash.html">Hashcash</a> <a href="../learn/proof-of-work.html">Proof-of-Work</a> <a href="../learn/satoshi-nakamoto.html">Satoshi Nakamoto</a> <a href="../learn/history.html">History</a>
</div>
<hr>
<div style="font-size:large">
<h3>References</h3>
<ol>
<li>B-money, Bitcoin Wiki Editors; <a href="https://en.bitcoin.it/wiki/B-money">Bitcoin Wiki</a> (2020) </li>
<li>b-money.txt, Wei Dai; <a href="http://www.weidai.com/bmoney.txt">weidai.com</a> (2020) </li>
<li>b-money, Satoshi Nakamoto Institute; <a href="https://nakamotoinstitute.org/b-money/">Satoshi Nakamoto Institute</a> (2020) </li>
</ol>
</div>
<hr>
<div style="line-height:1.5">
ℳ
<a href="index.html">Home</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="explore.html">Explore</a> 
<a href="follow.html">Follow</a> 
<a href="legal.html">Legal</a> 
aboutmonero@protonmail.com
</div>
<hr>
</div>
</body>
</html>
