<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutmonero - Balance</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Balance</h1>

<hr>

<div style="font-size: large;">
"Balance" refers to the total number of coins owned by a wallet. "Unlocked Balance" refers to the total number of coins that have been owned by the wallet long enough in order for them to be spent. Basically, the monero wallet (like Bitcoin's wallet and others) requires 10 blocks to be mined after your transaction is received and mined into the blockchain so that your monero is deep enough in the chain that it can't be doubled spent as part of a reorganization of the chain. Reorgs get exponentially harder with each subsequent block added on top of the one your transaction is in thanks to proof of work. [1]
<br><br>
See also: <a href="../learn/reorganization-of-the-blockchain.html">Reorganization of the blockchain</a> <a href="../learn/blockchain.html">Blockchain</a> <a href="../learn/transaction-output.html">Transaction output</a> <a href="../learn/wallet.html">Wallet</a>
</div>
<hr>
<div style="font-size:large">
<h3>References</h3>
<ol>
<li>What's the difference between “balance” and “unlocked balance”?, bigreddmachine; <a href="https://monero.stackexchange.com/questions/3262/whats-the-difference-between-balance-and-unlocked-balance">StackExchange</a> (2017) </li>
</ol>
</div>
<hr>
<div style="font-size: large">
ℳ
<a href="../../index.html">Home</a>
<a href="../../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../../participate.html">Participate</a> 
<a href="../../statistics.html">Statistics</a> 
<a href="../../newsletter.html">Newsletter</a> 
<a href="../../legal.html">Legal</a> 
</div>
<hr>
</div>
</body>
</html>
