<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - Bisq</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Bisq <span style="float:right;"> aboutℳonero </span></h1>
    
<hr>

<div style="line-height: 1.5;">
Satoshi Nakamoto created Bitcoin to solve the problems of centralized payment systems, so it seems inconsistent for centralized Bitcoin exchanges to be the primary way to acquire bitcoin. It often seems the dominance and vulnerability of centralized exchanges is the Achilles heel in the current Bitcoin ecosystem.

There is much talk about decentralization in the Bitcoin space, and various attempts at creating decentralized exchanges to address this weakness.

Bisq is one solution built on pure P2P infrastructure: desktop software, Tor, local wallets, and no central accounts. While the transfer of national currency requires traditional payment channels like banks and payment processors, Bisq is not dependent on any particular one. The role of these payment channels is limited to what it should be: transferring national currency. That's it—no censoring, confiscating, monitoring, or controlling your financial transactions. [1]
<br><br>
See also: <a href="../learn/decentralized-exchange.html">Decentralized Exchange</a> <a href="../learn/tor.html">Tor</a>  <a href="../learn/bitcoin.html">Bitcoin</a>
</div>
<hr>
<div style="line-height: 1.5;">
<h3>References</h3>
<ol>
<li>Bisq Vision, Bisq Developers; <a href="https://bisq.network/vision/">Bisq Website</a> (2020) </li>
</ol>
</div>
<hr>
<div style="line-height: 1.5;">
ℳ
<a href="../../index.html">Home</a>
<a href="../../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../../participate.html">Participate</a> 
<a href="../../statistics.html">Statistics</a> 
<a href="../../newsletter.html">Newsletter</a> 
<a href="../../legal.html">Legal</a> 
</div>
<hr>
</div>
</body>
</html>
