<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - BitcoinTalk</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>BitcoinTalk <span style="float:right;"> aboutℳonero </span></h1>
    
<hr>

<div style="line-height: 1.5;">
BitcoinTalk is the largest and one of the oldest message boards dedicated to blockchain and cryptocurrencies on the Internet. It was founded by Satoshi Nakamoto on November 22, 2009, and is a direct successor to his first SourceForge forum, which is now lost. 
<br><br>
The site contains a lot of information about the bitcoin sphere, presented in different languages. The digital currency is permanently connected with difficulties, but in this forum it is easy to find the answer strongly to any question. If the user of the forum could not find the necessary information, he can create a topic for discussion on his own and get data from practitioners – experienced members of the crypto-currency community. A team of resource managers are also able to help users to find relevant information and publish it on Bitcointalk. [1]
<br><br>
See also: <a href="../learn/history.html">History</a> <a href="../learn/satoshi-nakamoto.html">Satoshi Nakamoto</a> <a href="../learn/bitcoin.html">Bitcoin</a> <a href="../learn/altcoin.html">Altcoin</a>
</div>
<hr>
<div style="line-height: 1.5;">
<h3>References</h3>
<ol>
<li>BitcoinTalk, Bitcoin Wiki Editors; <a href="https://en.bitcoinwiki.org/wiki/BitcoinTalk">Bitcoin Wiki</a> (2020) </li>
</ol>
</div>
<hr>
<div style="line-height:1.5">
<a href="../index.html">ℳ</a>
<a href="../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../participate.html">Participate</a> 
<a href="../explore.html">Explore</a> 
<a href="../follow.html">Follow</a> 
<a href="../legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
