<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - Block Explorer</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Block Explorer <span style="float:right;"> aboutℳonero </span></h1>
    

<hr>

<div style="line-height: 1.5;">
A block explorer can be used to query transactions and blocks to analyze what data they may contain. Some block explorers can also provide analysis of the monero network with statistics such as transactions per day or network hashrate. Many block explorers exist for the Monero network. Use your favorite search engine to search 'monero block explorer' to find one.
<br><br>
See also: <a href="../learn/block.html">Block</a>
</div>
<hr>
<div style="line-height:1.5">
<a href="../index.html">ℳ</a>
<a href="../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../participate.html">Participate</a> 
<a href="../explore.html">Explore</a> 
<a href="../follow.html">Follow</a> 
<a href="../legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
