<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - Block reward</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Block reward <span style="float:right;"> aboutℳonero </span></h1>
    

<hr>

<div style="line-height: 1.5;">
For solving blocks and confirming transactions, miners are rewarded with newly minted monero and all of the fees paid by transacters. This is the only way that new monero is created.
<br><br>
See also: <a href="../learn/emission-curve.html">Emission curve</a>  <a href="../learn/emission-curve.html">Controlled supply</a> <a href="../learn/controlled-inflation.html">Controlled Inflation</a> <a href="../learn/coinbase-transaction.html">Coinbase transaction</a>  <a href="../learn/tail-emission.html">Tail emission</a>
</div>
<hr>
<div style="line-height: 1.5;">
<h3>References</h3>
<ol>
<li>NA</li>
</ol>
</div>
<hr>
<div style="line-height:1.5">
<a href="../index.html">ℳ</a>
<a href="../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../participate.html">Participate</a> 
<a href="../explore.html">Explore</a> 
<a href="../follow.html">Follow</a> 
<a href="../legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
