<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - Block</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Block <span style="float:right;"> aboutℳonero </span></h1>
    

<hr>

<div style="line-height: 1.5;">
<p>A block is a container of transactions, with a new block being added to the blockchain once every 2 minutes (see constant DIFFICULTY_TARGET_V2 defined as 120 seconds), on average.</p>

<p>Blocks also contain a special type of transaction, the coinbase transaction, which add newly created Monero to the network.</p>

<p>Blocks are created through the process of mining, and the node that successfully mines the block then broadcasts it to each of the nodes connected to it, who subsequently re-broadcast the block until the entire Monero network has received it.</p>

<p>Fake or bad blocks generally cannot be created, as nodes that receive blocks always verify the transactions they contain against a set of consensus rules that all nodes adhere to, including validating the cryptographic signatures on each transaction. [1] </p>

<p>As an example, here is a query to the Monero Daemon: <code>monerod print_block 1300000</code> </p>

<pre><code>timestamp: 1493568547
previous hash: 217b2757da92bc6369fc22d79ef16911fc0716bcea106450c94619e905f3c796
nonce: 25166505
is orphan: 0
height: 1300000
depth: 139416
hash: 31b34272343a44a9f4ac7de7a8fcf3b7d8a3124d7d6870affd510d2f37e74cd0
difficulty: 7877790006
reward: 7883911503742
{
  "major_version": 5, 
  "minor_version": 5, 
  "timestamp": 1493568547, 
  "prev_id": "217b2757da92bc6369fc22d79ef16911fc0716bcea106450c94619e905f3c796", 
  "nonce": 25166505, 
  "miner_tx": {
    "version": 2, 
    "unlock_time": 1300060, 
    "vin": [ {
        "gen": {
          "height": 1300000
        }
      }
    ], 
    "vout": [ {
        "amount": 7883911503742, 
        "target": {
          "key": "7c54ec2fad8c41bb40cde9b78c002572ba777b05bb3bc80d0055c0d3489fdb17"
        }
      }
    ], 
    "extra": [ 1, 116, 174, 179, 44, 181, 153, 245, 119, 27, 105, 192, 244, 181, 175,
     62, 47, 244, 15, 129, 8, 223, 115, 234, 203, 131, 15, 62, 152, 103, 136, 144, 134,
      2, 8, 0, 0, 0, 10, 174, 4, 8, 0
    ], 
    "rct_signatures": {
      "type": 0
    }
  }, 
  "tx_hashes": [ "140564273396a16135ba0867ded6b7981fdc28bda45c62f993dc51ff26cfb2e5",
   "a32087d20f25e45097da9c899d8ec17df1d7563abe19047b3d115fe894bbf383",
    "4d2996d78485bd41980c79a7573e91fb06960a96884eda6b47877be8bc0e4eb4"
  ]
}
</code></pre>[2] 
<br><br>
See also: <a href="../learn/blockchain.html">Blockchain</a> <a href="../learn/mining.html">Mining</a> <a href="../learn/coinbase_transaction.html">Coinbase transaction</a> <a href="../learn/block_header.html">Block explorer</a> <a href="../learn/node.html">Node</a>
</div>
<hr>
<div style="line-height: 1.5;">
<h3>References</h3>
<ol>
<li>Block, Monero Core; <a href="https://web.getmonero.org/resources/moneropedia/block.html">getmonero.org</a> (2020) </li>
<li>What is the format of a block in the monero blockchain?, Jolly Mort; <a href="https://monero.stackexchange.com/questions/3958/what-is-the-format-of-a-block-in-the-monero-blockchain">StackExchange</a> (2017) </li>
</ol>
</div>
<hr>
<div style="line-height:1.5">
<a href="../index.html">ℳ</a>
<a href="../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../participate.html">Participate</a> 
<a href="../explore.html">Explore</a> 
<a href="../follow.html">Follow</a> 
<a href="../legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
