<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - Title</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>CryptoNote Standards <span style="float:right;"> aboutℳonero </span></h1>
    

<hr>

<div style="line-height: 1.5;">

The Monero network is built on the CryptoNote Protocol. Since 2014, the core team has worked to make improvements and adjustments to the protocol. These are the original standards of the CryptoNote protocol as of 2012.
<div style="line-height:1.5">
<ul>
<li><a href="../../static/cryptonote_standards/cns001.txt">Signatures (outdated) (CNS001)</a>; <a href="../static/cryptonote_standards/cns002.txt">Signatures (revised) (CNS002)</a>: This document defines the exact method of zero-knowledge proof to establish the ownership of an asset.</li>
<li><a href="../../static/cryptonote_standards/cns003.txt">Blockchain (CNS003)</a>: Describes how data is stored
   within blocks and the blockhain along with the corresponding data structures.</li>
<li><a href="../../static/cryptonote_standards/cns004.txt">Transactions (CNS004)</a>: The transfer of assets between users through transactions.</li>
<li><a href="../../static/cryptonote_standards/cns005.txt">Transaction Field Extra (CNS005)</a>:  This document defines the way extra data can be added to a CryptoNote transaction.</li>
<li><a href="../../static/cryptonote_standards/cns006.txt">One-Time Keys (CNS006)</a>: Describes how unlinkability of transactions is achieved.</li>
<li><a href="../../static/cryptonote_standards/cns007.txt">Keys and Addresses (CNS007)</a>: Various types of user keys used in CryptoNote and the way the addresses are encoded into alphanumeric strings.
</li>
<li><a href="../../static/cryptonote_standards/cns008.txt">Hash Function (CNS008)</a>: The CryptoNote's default proof-of-work hash function, CryptoNight. </li>
<li><a href="../../static/cryptonote_standards/cns009.txt">Technology (CNS009)</a>: The core concepts of the
   CryptoNote technology and surveys the whole system's workflow.</li>
<li><a href="../../static/cryptonote_standards/cns010.txt">Difficulty Adjustment (CNS010)</a>: The method for
   maintaining the rate at which blocks are generated.</li>
</ul>
<br><br>
See also: <a href="../learn/cryptonote.html">CryptoNote</a>
</div>
<hr>
<div style="line-height: 1.5;">
<h3>References</h3>
<ol>
<li>CryptoNote Standards, CryptoNote; (2012) </li>
</ol>
</div>
<hr>
<div style="line-height:1.5">
<a href="../index.html">ℳ</a>
<a href="../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../participate.html">Participate</a> 
<a href="../explore.html">Explore</a> 
<a href="../follow.html">Follow</a> 
<a href="../legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
