<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - History</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>History <span style="float:right;"> aboutℳonero </span></h1>
    

<hr>

<div style="line-height: 1.5;">
The Monero project begins with the introduction of the CryptoNote protocol in 2014. After a number of concerns arose around the initial distribution and emission schedule of initial CryptoNote currencies, future Monero developers chose to create their own version. In summary, Monero is the result of two forks. The first is from Bytecoin, the original CryptoNote based currency. The first fork involved a relaunched and rebranding to 'Bitmonero'. Disagreement amongst developers over naming and distribution arose again, and the bitmonero community overtook development to create the Monero project. This all happened over the course of a month between March and April 2014. Much of the discussion that took place amongst the earliest developers of monero can still be found in the BitcoinTalk threads listed below.
<br><br>
See also: <a href="../learn/cryptonote.html">CryptoNote</a> <a href="../learn/bytecoin.html">Bytecoin</a> <a href="../learn/bitmonero.html">Bitmonero</a>
</div>
<hr>
<div style="line-height: 1.5;">
<h3>References</h3>
<ol>
<li>Bytecoin. Secure, private, untraceable since 2012, DStrange; <a href="https://bitcointalk.org/index.php?topic=512747">BitcoinTalk Forum</a> (2014) </li>
<li>Bitmonero - a new coin based on CryptoNote technology - LAUNCHED, thankful_for_today; <a href="https://bitcointalk.org/index.php?topic=563821.0">BitcoinTalk Forum</a> (2014) </li>
<li>Monero - an anonymous coin based on CryptoNote technology, monero; <a href="https://bitcointalk.org/index.php?topic=582080.0">BitcoinTalk Forum</a> (2014) </li>
<li>Monero - A secure, private, untraceable cryptocurrency, monero; <a href="https://bitcointalk.org/index.php?topic=583449.0">BitcoinTalk Forum </a> (2014) </li>
</ol>
</div>
<hr>
<div style="line-height:1.5">
<a href="../index.html">ℳ</a>
<a href="../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../participate.html">Participate</a> 
<a href="../explore.html">Explore</a> 
<a href="../follow.html">Follow</a> 
<a href="../legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
