<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - Privacy</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Privacy <span style="float:right;"> aboutℳonero </span></h1>
<hr>

<div style="line-height: 1.5;">
Privacy and anonymity are the most important aspects of electronic cash.  Peer-to-peer payments seek to be concealed from third party’s view, a distinct difference when compared with traditional banking.  In particular, T. Okamoto and K. Ohta described six criteria of ideal electronic cash, which included “privacy:  relationship between the user and his purchases must be untraceable by anyone” [1].  From their description,  the CryptoNote protocol developers derived two properties which a fully anonymous electronic cash model must satisfy in order to comply with the requirements outlined by Okamoto and Ohta: Untraceability: for each incoming transaction all possible senders are equiprobable. Unlinkability: for any two outgoing transactions it is impossible to prove they were sent to the same person. [2] Monero meets these requirements through the utilization of the three encryption technologies: Ring Signatures, Stealth Addresses, and Ring Confidential Transactions. [3]
<br><br>
See also: <a href="../learn/ring-signature.html">Ring signature</a>  <a href="../learn/ringct.html">RingCT</a> <a href="../learn/stealth-address.html">Stealth address</a> <a href="../learn/cryptonote.html">CryptoNote</a>
</div>
<hr>
<div style="line-height: 1.5;">
<h3>References</h3>
<ol>
<li>Universal electronic cash,  Tatsuaki Okamoto and Kazuo Ohta; <a href="https://link.springer.com/chapter/10.1007/3-540-46766-1_27">CRYPTO</a> (1991) </li>
<li>CryptoNote v 2.0, Nicolas van Saberhagen; <a href="../../static/cryptonote-whitepaper.pdf">CryptoNote Whitepaper</a> (2013) </li>
<li>What advantages does Monero offer that are not provided by other cryptocurrencies?, JollyMort; <a href="https://monero.stackexchange.com/questions/2254/what-advantages-does-monero-offer-that-are-not-provided-by-other-cryptocurrencie/">StackExchange</a> (2017) </li>
</ol>
</div>
<hr>
<div style="line-height:1.5">
<a href="../index.html">ℳ</a>
<a href="../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../participate.html">Participate</a> 
<a href="../explore.html">Explore</a> 
<a href="../follow.html">Follow</a> 
<a href="../legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
