<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutℳonero - Supply properties</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Supply properties <span style="float:right;"> aboutℳonero </span></h1>
    

<hr>

<div style="line-height: 1.5;">
The economic properties of monero can be discussed in two eras. The first era is the 'fair-distribution' era which will last from the Genesis block in April 2014 until May 2022. During this era, monero is distributed to miners at an exponentially decreasing rate. The first block reward was ℳ17.59218, the millionth block had a reward of ℳ6.796686, and the two-millionth block ℳ2.040028. This block reward will decrease until it reaches ℳ0.6 per block in May 2022. At this point, the circulating supply will be ℳ18.132 million. [1] This is the end of the fair-distribution era.
<br><br>
After this, there is the 'tail-emission' era. Once the miner's block reward reaches ℳ0.6 per block, it will stay constant forever. The implication of this is that the circulating supply of monero will increase by (ℳ0.6 per block)*(365*24*60/2 blocks) = ℳ157,680 each year. [1] As the circulating supply increases and the amount of newly minted monero stays constant, there is a decreasing rate of inflation. In fact, this rate of inflation will forever stay below 1% per year in the tail emission era.
<br><br>
Visit the <a href="../explore.html">Explore</a> page to view charts related to the economic properties of monero.
<br><br>
See also: <a href="../learn/sound-money.html">Sound money</a> <a href="../learn/controlled-supply.html">Controlled supply</a> <a href="../learn/controlled-inflation.html">Controlled inflation</a> <a href="../learn/fair-distribution.html">Fair distribution</a> <a href="../learn/block-reward.html">Block reward</a> <a href="../learn/deflationary-spiral.html">Deflationary spiral</a> <a href="../learn/emission-curve.html">Emission curve</a> <a href="../learn/inflation.html">Inflation</a> <a href="../learn/tail-emission.html">Tail emission</a>
</div>
<hr>
<div style="line-height: 1.5;">
<h3>References</h3>
<ol>
<li>Useful For Learning About Monero: Coin Emission And Block Reward Schedules, Amichateur; <a href="https://www.reddit.com/r/Monero/comments/512kwh/useful_for_learning_about_monero_coin_emission/">Reddit</a> (2017) </li>
</ol>
</div>
<hr>
<div style="line-height:1.5">
<a href="../index.html">ℳ</a>
<a href="../learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../participate.html">Participate</a> 
<a href="../explore.html">Explore</a> 
<a href="../follow.html">Follow</a> 
<a href="../legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
