<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: 'monospace';
      font-weight:  normal;
      color : #000000;
      font-size: 12px;
    }
    a:before{
        content: "[";
    }
    a:after{
        content: "]";
    }
    a {
        text-decoration-line: none;
    }
    hr {
	    border-top: 1px dashed;
	    border-bottom: none;
    }
    ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    }
    ul > li:before {
        display: inline-block;
        content: "-";
        width: 1em;
        margin-left: -1em;
    }
    section:not(:target):not(#home),
    section:target ~ #home {
        display: none
    }
    img {
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
    } 
    /* Create two unequal columns that floats next to each other */
    .column {
      float: left;
    }

    .left {
      width: 500px;
    }

    .right {
      width: 70%;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    img {
      position: absolute;
      clip: rect(20px,1180px,730px,20px);
    }
</style>
 <style>
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

</style>
<div class="row">
    <div  style="width: 500px;max-width:500px;">
    <title>aboutℳonero - Explore</title>
    </head>

    <body>
    <h1>Explore <span style="float:right;"> about<span style='font-size:16'>ℳ</span>onero </span></h1>
        
    <hr>
        <center>
    <br>
    Statistics and charts for the Monero network.
    <br>
    <table style="line-height:1.5">
    <tr>
        <th>Data</th>
        <th></th>
        <th>Chart</th>
    </tr>
    <tr>
        <td class = "tooltip">Block Count (1D)<span class="tooltiptext">The number of blocks mined in the previous day.</span>: </td>
        <td>{{data[1]}} </td>
        <td> <a href="#block_count_1M">1M</a> <a href="#block_count_1Y">1Y</a> <a href="#block_count_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Block Size<span class="tooltiptext">Mean (Geometric) block size. </span>: </td>
        <td>{{data[8]}} </td>
        <td><a href="#block_size_1M">1M</a> <a href="#block_size_1Y">1Y</a> <a href="#block_size_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Blockchain Height<span class="tooltiptext">Total number of confirmed blocks in blockchain</span>: </td>
        <td>{{data[14]}} </td>
        <td><a href="#block_height_1M">1M</a> <a href="#block_height_1Y">1Y</a> <a href="#block_height_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Blockchain Size<span class="tooltiptext">Total size of blockchain database.</span>: </td>
        <td>{{data[9]}} </td>
        <td><a href="#blockchain_size_1M">1M</a> <a href="#blockchain_size_1Y">1Y</a> <a href="#blockchain_size_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Circulating Supply<span class="tooltiptext">Total number of monero in circulation.</span>: </td>
        <td>ℳ{{data[4]}}</td>
        <td><a href="#supply_1M">1M</a> <a href="#supply_1Y">1Y</a> <a href="#supply_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Fees Paid Per Block<span class="tooltiptext">Average (Geometric) fee amount per block paid to miners.</span>: </td>
        <td>ℳ{{data[10]}} </td>
        <td><a href="#fee_1M">1M</a> <a href="#fee_1Y">1Y</a> <a href="#fee_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Inflation Rate (1Y)<span class="tooltiptext">Percentage of circulating supply mined in the past year.</span>: </td>
        <td>%{{data[7]}}</td>
        <td><a href="#inflation_1M">1M</a> <a href="#inflation_1Y">1Y</a> <a href="#inflation_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Max Transactions (1D)<span class="tooltiptext">Largest number of monero transactions in a block since the previous day.</span>: </td>
        <td>{{data[18]}} </td>
        <td><a href="#transaction_block_max_1M">1M</a> <a href="#transaction_block_max_1Y">1Y</a> <a href="#transaction_block_max_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Miner's Block Reward<span class="tooltiptext">Value of newly minted monero paid to miners per block.</span>: </td>
        <td>ℳ{{data[5]}} </td>
        <td> <a href="#block_reward_1M">1M</a> <a href="#block_reward_1Y">1Y</a> <a href="#block_reward_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Miner's Revenue (1Y)<span class="tooltiptext">Sum of all coins' value at time of emission for 1 year.</span>: </td>
        <td>${{data[15]}}</td>
        <td><a href="#1yo_1M">1M</a> <a href="#1yo_1Y">1Y</a> <a href="#1yo_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Network Hashrate<span class="tooltiptext">Estimated hashes/second the monero network is performing.</span>: </td>
        <td>{{data[3]}}</td>
        <td><a href="#hashrate_1M">1M</a> <a href="#hashrate_1Y">1Y</a> <a href="#hashrate_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Nonce Uniformity<span class="tooltiptext">Uniformity of the previous 2160 blocks' (~3 days) nonces.</span>: </td>
        <td>%{{data[11]}} </td>
        <td><a href="#nonce_1M">1M</a> <a href="#nonce_1Y">1Y</a> <a href="#nonce_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Supply Value<span class="tooltiptext">Value of total monero supply in circulation. (USD Price)*(Total Supply)</span>: </td>
        <td>${{data[6]}}</td>
        <td><a href="#marketcap_1M">1M</a> <a href="#marketcap_1Y">1Y</a> <a href="#marketcap_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Supply Value Adj.<span class="tooltiptext">Inflation adjusted value of total monero supply in circulation (2014 Dollars). (USD Price)*(Total Supply)/(CPI/CPI_2014)</span>: </td>
        <td>${{data[17]}}</td>
        <td><a href="#marketcap_infl_1M">1M</a> <a href="#marketcap_infl_1Y">1Y</a> <a href="#marketcap_infl_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Transaction Count (1D)<span class="tooltiptext">Number of monero transactions in the previous day.</span>: </td>
        <td>{{data[2]}} </td>
        <td><a href="#transaction_1M">1M</a> <a href="#transaction_1Y">1Y</a> <a href="#transaction_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">USD Market Price<span class="tooltiptext">Average USD market price across major monero exchanges.</span>: </td>
        <td>${{data[0]}}</td>
        <td><a href="#price_1M">1M</a> <a href="#price_1Y">1Y</a> <a href="#price_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Version<span class="tooltiptext">Major and minor version of client used by miner.</span>: </td>
        <td>{{data[12]}}.{{data[13]}} </td>
        <td><a href="#version_1M">1M</a> <a href="#version_1Y">1Y</a> <a href="#version_all">All</a></td>
    </tr>
    <tr>
        <td class = "tooltip">Wikipedia Page Views<span class="tooltiptext">Views of Monero (cryptocurrency) Page on en.wikipedia.org.</span>: </td>
        <td>{{data[16]}} </td>
        <td><a href="#wiki_view_1M">1M</a> <a href="#wiki_view_1Y">1Y</a> <a href="#wiki_view_all">All</a></td>
    </tr>
    </table>
    <br>
        
    <div style="width: 500px;max-width:500px;">
    <center>
    <main>
        <section id="version_1M"> <img src="../static/data/version_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="version_1Y"> <img src="../static/data/version_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="version_all"> <img src="../static/data/version_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="blockchain_size_1M"> <img src="../static/data/blockchain_size_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="blockchain_size_1Y"> <img src="../static/data/blockchain_size_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="blockchain_size_all"> <img src="../static/data/blockchain_size_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_size_1M"> <img src="../static/data/block_size_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_size_1Y"> <img src="../static/data/block_size_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_size_all"> <img src="../static/data/block_size_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_height_1M"> <img src="../static/data/block_height_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_height_1Y"> <img src="../static/data/block_height_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_height_all"> <img src="../static/data/block_height_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_count_1M"> <img src="../static/data/block_count_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_count_1Y"> <img src="../static/data/block_count_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_count_all"> <img src="../static/data/block_count_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="nonce_1M"> <img src="../static/data/nonce_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="nonce_1Y"> <img src="../static/data/nonce_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="nonce_all"> <img src="../static/data/nonce_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="transaction_1M"> <img src="../static/data/transaction_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="transaction_1Y"> <img src="../static/data/transaction_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="transaction_all"> <img src="../static/data/transaction_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="hashrate_1M"> <img src="../static/data/hashrate_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="hashrate_1Y"> <img src="../static/data/hashrate_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="hashrate_all"> <img src="../static/data/hashrate_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="fee_1M"> <img src="../static/data/fee_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="fee_1Y"> <img src="../static/data/fee_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="fee_all"> <img src="../static/data/fee_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="inflation_1M"> <img src="../static/data/inflation_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="inflation_1Y"> <img src="../static/data/inflation_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="inflation_all"> <img src="../static/data/inflation_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_reward_1M"> <img src="../static/data/block_reward_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_reward_1Y"> <img src="../static/data/block_reward_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="block_reward_all"> <img src="../static/data/block_reward_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="marketcap_1M"> <img src="../static/data/marketcap_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="marketcap_1Y"> <img src="../static/data/marketcap_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="marketcap_all"> <img src="../static/data/marketcap_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="marketcap_infl_1M"> <img src="../static/data/marketcap_infl_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="marketcap_infl_1Y"> <img src="../static/data/marketcap_infl_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="marketcap_infl_all"> <img src="../static/data/marketcap_infl_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="supply_1M"> <img src="../static/data/supply_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="supply_1Y"> <img src="../static/data/supply_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="supply_all"> <img src="../static/data/supply_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="price_1M"> <img src="../static/data/price_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="price_1Y"> <img src="../static/data/price_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="price_all"> <img src="../static/data/price_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="1yo_1M"> <img src="../static/data/1yo_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="1yo_1Y"> <img src="../static/data/1yo_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="1yo_all"> <img src="../static/data/1yo_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="wiki_view_1M"> <img src="../static/data/wiki_view_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="wiki_view_1Y"> <img src="../static/data/wiki_view_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="wiki_view_all"> <img src="../static/data/wiki_view_all.png" alt="Major and minor version of client used by miner." ></section>
        <section id="transaction_block_max_1M"> <img src="../static/data/transaction_block_max_1M.png" alt="Major and minor version of client used by miner." ></section>
        <section id="transaction_block_max_1Y"> <img src="../static/data/transaction_block_max_1Y.png" alt="Major and minor version of client used by miner." ></section>
        <section id="transaction_block_max_all"> <img src="../static/data/transaction_block_max_all.png" alt="Major and minor version of client used by miner." ></section>
    </main>
    </center>
    </div>
    <br>

    Source code for computation can be found at <a href='https://raw.githubusercontent.com/aboutmonero/aboutmonero/master/block_data.py'>githubusercontent.com/aboutmonero/aboutmonero/master/block_data.py</a>
    
    </center>
    <hr>
    <div style="line-height:1.5">
    <a href="index.html">ℳ</a>
    <a href="learn.html">Learn</a> 
    <a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
    <a href="participate.html">Participate</a> 
    <a href="explore.html">Explore</a> 
    <a href="follow.html">Follow</a> 
    <a href="legal.html">Legal</a> 
    <span style="float:right;"> 
    aboutmonero@protonmail.com </span>
    <hr>
    </div>
    </div>
</div>

</body>
</html>
