<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
    section:not(:target):not(#home),
    section:target ~ #home {
        display: none
    }

    img {
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
    }
</style>
<title>aboutℳonero - Explore</title>
</head>

<body>
<div style="margin-left:20%;margin-right:20%">
<h1>Explore <span style="float:right;"> aboutℳonero </span></h1>
    
<hr>
<center>
<br>
Statistics and charts for the Monero network. Please note that many of the charts are logarithmic in scale.
<br><br>
<table style="line-height:1.5">
<tr>
    <th>Data</th>
    <th></th>
    <th>Chart</th>
    <th>Description</th>
</tr>
<tr>
    <td>Market Price:</td>
    <td>${{data[0]}}</td>
    <td><a href="#price_1M">1M</a> <a href="#price_1Y">1Y</a> <a href="#price_all">All</a></td>
    <td align ="center">Average USD market price across major monero exchanges.</td>
</tr>
<tr>
    <td>Circulating Supply: </td>
    <td>ℳ{{data[4]}}</td>
    <td><a href="#supply_1M">1M</a> <a href="#supply_1Y">1Y</a> <a href="#supply_all">All</a></td>
    <td align ="center">Total number of monero in circulation.</td>
</tr>
<tr>
    <td>Market Capitalization: </td>
    <td>${{data[6]}}</td>
    <td><a href="#marketcap_1M">1M</a> <a href="#marketcap_1Y">1Y</a> <a href="#marketcap_all">All</a></td>
    <td align ="center">USD value of total monero supply in circulation.</td>
</tr>
<tr>
    <td>Miner's Block Reward: </td>
    <td>ℳ{{data[5]}} </td>
    <td> <a href="#block_reward_1M">1M</a> <a href="#block_reward_1Y">1Y</a> <a href="#block_reward_all">All</a></td>
    <td align ="center">Value of newly minted monero paid to miners per block.</td>
</tr>
<tr>
    <td>Inflation Rate (1Y): </td>
    <td>%{{data[7]}}</td>
    <td><a href="#inflation_1M">1M</a> <a href="#inflation_1Y">1Y</a> <a href="#inflation_all">All</a></td>
    <td align ="center">Percentage of circulating supply mined in the past year.</td>
</tr>
<tr>
    <td>Fees Paid Per Block: </td>
    <td>ℳ{{data[10]}} </td>
    <td><a href="#fee_1M">1M</a> <a href="#fee_1Y">1Y</a> <a href="#fee_all">All</a></td>
    <td align ="center">Average (Geometric) fee amount per block paid to miners.</td>
</tr>
<tr>
    <td>Network Hashrate: </td>
    <td>{{data[3]}}</td>
    <td><a href="#hashrate_1M">1M</a> <a href="#hashrate_1Y">1Y</a> <a href="#hashrate_all">All</a></td>
    <td align ="center">Estimated hashes/second the monero network is performing.</td>
</tr>
<tr>
    <td>Transactions Per Day: </td>
    <td>{{data[2]}} </td>
    <td><a href="#transaction_1M">1M</a> <a href="#transaction_1Y">1Y</a> <a href="#transaction_all">All</a></td>
    <td align ="center">Number of monero transactions in the previous day.</td>
</tr>
<tr>
    <td>Nonce Uniformity: </td>
    <td>%{{data[11]}} </td>
    <td><a href="#nonce_1M">1M</a> <a href="#nonce_1Y">1Y</a> <a href="#nonce_all">All</a></td>
    <td align ="center">Uniformity of the previous 2160 blocks' (~3 days) nonces.</td>
</tr>
<tr>
    <td>Block Count Per Day: </td>
    <td>{{data[1]}} </td>
    <td> <a href="#block_count_1M">1M</a> <a href="#block_count_1Y">1Y</a> <a href="#block_count_all">All</a></td>
    <td align ="center">The number of blocks mined in the previous day.</td>
</tr>
<tr>
    <td>Blockchain Height: </td>
    <td>{{data[14]}} </td>
    <td><a href="#block_height_1M">1M</a> <a href="#block_height_1Y">1Y</a> <a href="#block_height_all">All</a></td>
    <td align ="center">Total number of blocks in the blockchain.</td>
</tr>
<tr>
    <td>Block Size: </td>
    <td>{{data[8]}} </td>
    <td><a href="#block_size_1M">1M</a> <a href="#block_size_1Y">1Y</a> <a href="#block_size_all">All</a></td>
    <td align ="center">Mean (Geometric) block size. </td>
</tr>
<tr>
    <td>Blockchain Size: </td>
    <td>{{data[9]}} </td>
    <td><a href="#blockchain_size_1M">1M</a> <a href="#blockchain_size_1Y">1Y</a> <a href="#blockchain_size_all">All</a></td>
    <td align ="center">Total size of blockchain.</td>
</tr>
<tr>
    <td>Version: </td>
    <td>{{data[12]}}.{{data[13]}} </td>
    <td><a href="#version_1M">1M</a> <a href="#version_1Y">1Y</a> <a href="#version_all">All</a></td>
    <td align ="center">Major and minor version of client used by miner.</td>
</tr>
</table>
<main>
    <section id="version_1M"> <img src="../static/data/version_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="version_1Y"> <img src="../static/data/version_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="version_all"> <img src="../static/data/version_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="blockchain_size_1M"> <img src="../static/data/blockchain_size_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="blockchain_size_1Y"> <img src="../static/data/blockchain_size_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="blockchain_size_all"> <img src="../static/data/blockchain_size_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_size_1M"> <img src="../static/data/block_size_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_size_1Y"> <img src="../static/data/block_size_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_size_all"> <img src="../static/data/block_size_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_height_1M"> <img src="../static/data/block_height_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_height_1Y"> <img src="../static/data/block_height_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_height_all"> <img src="../static/data/block_height_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_count_1M"> <img src="../static/data/block_count_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_count_1Y"> <img src="../static/data/block_count_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_count_all"> <img src="../static/data/block_count_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="nonce_1M"> <img src="../static/data/nonce_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="nonce_1Y"> <img src="../static/data/nonce_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="nonce_all"> <img src="../static/data/nonce_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="transaction_1M"> <img src="../static/data/transaction_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="transaction_1Y"> <img src="../static/data/transaction_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="transaction_all"> <img src="../static/data/transaction_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="hashrate_1M"> <img src="../static/data/hashrate_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="hashrate_1Y"> <img src="../static/data/hashrate_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="hashrate_all"> <img src="../static/data/hashrate_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="fee_1M"> <img src="../static/data/fee_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="fee_1Y"> <img src="../static/data/fee_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="fee_all"> <img src="../static/data/fee_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="inflation_1M"> <img src="../static/data/inflation_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="inflation_1Y"> <img src="../static/data/inflation_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="inflation_all"> <img src="../static/data/inflation_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_reward_1M"> <img src="../static/data/block_reward_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_reward_1Y"> <img src="../static/data/block_reward_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="block_reward_all"> <img src="../static/data/block_reward_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="marketcap_1M"> <img src="../static/data/marketcap_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="marketcap_1Y"> <img src="../static/data/marketcap_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="marketcap_all"> <img src="../static/data/marketcap_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="supply_1M"> <img src="../static/data/supply_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="supply_1Y"> <img src="../static/data/supply_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="supply_all"> <img src="../static/data/supply_all.png" alt="Major and minor version of client used by miner." ></section>
    <section id="price_1M"> <img src="../static/data/price_1M.png" alt="Major and minor version of client used by miner." ></section>
    <section id="price_1Y"> <img src="../static/data/price_1Y.png" alt="Major and minor version of client used by miner." ></section>
    <section id="price_all"> <img src="../static/data/price_all.png" alt="Major and minor version of client used by miner." ></section>
</main>
</center>
<br>
<hr>
<div style="line-height:1.5">
<a href="index.html">ℳ</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="explore.html">Explore</a> 
<a href="follow.html">Follow</a> 
<a href="legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
