<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
        font-family: 'monospace';
        font-weight:  normal;
        color : #000000;
        font-size: 24px;
    }
    a:before{
        content: "[";
    }
    a:after{
        content: "]";
    }
    a {
        text-decoration-line: none;
    }
    hr {
	    border-top: 1px dashed;
	    border-bottom: none;
    }
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 1em;
    }
    ul > li:before {
        display: inline-block;
        content: "-";
        width: 1em;
        margin-left: -1em;
    }
</style>
<title>aboutℳonero</title>
</head>
<body>
<div style="width: 1000px;max-width:1000px;display: inline-block;">
<h1><span style='font-size:64'>ℳ</span>onero means currency. </h1>
<hr>
<div style="line-height:1.5">
<ul>
<li>Allows everyone to freely send and receive payments.</li>
<li>Shields all transactions and wallets with <a href="learn/privacy.html">encryption</a>.</li>
<li>Possesses every property of <a href="learn/sound-money.html">sound money</a>.</li>
<li>Follows a set of pre-established <a href="learn/supply-properties.html">economic rules</a>.</li>
<li>Operates on a decentralized network with open-source <a href="https://github.com/monero-project/">development</a>.</li>
</ul>
<hr>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="explore.html">Explore</a> 
<a href="follow.html">Follow</a> 
</div>
<hr>
<h2>News:</h2>
<h3> 3/17/20 - ℳonero Core discloses vulnerabilities</h3>
<p>Two low priority vulnerabilities were disclosed on the ℳonero hackerone page. These are: </p>
<ol>
  <li>Monero wallet password change is confirmed when not matching; consistent-dream <a href="https://hackerone.com/reports/803028">Report 803028</a>.</li> 
  <li>Potential linkage of public/private (anonymous) node addresses; ahook <a href="https://hackerone.com/reports/766963">Report 766963</a></li>
</ol>
<p>To see more responsible disclosures, visit the ℳonero <a href="https://hackerone.com/monero/hacktivity">hackerone</a> page.</p>
<h3> 11/12/19 - ℳonero 0.15.0.0 is released</h3>
<p>This is the v0.15.0 release of the ℳonero software. This major release, announced in an <a href="https://getmonero.org/2019/10/01/announcement-release-0-15.html">earlier post</a>,
 is due to the November 30th network upgrade. Users, merchants and 
exchanges should update to the latest ℳonero software before that date. 
The binaries for the GUI wallet are forthcoming, we will make another 
announcement as soon as they are released.</p>

<p>Some of the major changes introduced with this release are:</p>

<ul>
  <li>New PoW (RandomX) based on random instructions, adapted to CPUs</li>
  <li>Android builds</li>
  <li>Automatic public nodes discovery and bootstrap daemon switching</li>
  <li>Improved network protections for connections between wallets and nodes</li>
  <li>Pay for service system (either for nodes to offer paid RPC, or third parties to offer services paid for via monero mining)</li>
  <li>Optional Tor/I2P transaction relay for privacy (block relay being done on clearnet)</li>
  <li>New gen_ssl_cert tool to generate SSL certificates suitable for ℳonero usage</li>
  <li>IPv6 support</li>
  <li>Removed Long Payment IDs (see the <a href="https://getmonero.org/2019/06/04/Long-Payment-ID-Deprecation.html">deprecation announcement</a>)</li>
</ul>

<p>The complete list of features and changes is on GitHub: <a href="https://github.com/monero-project/monero/releases/tag/v0.15.0.0">github.com/monero-project/monero/releases/tag/v0.15.0.0</a>.</p>

<a href="follow.html">More News</a>
<br><br>
<hr>
<div style="line-height:1.5">
<a href="index.html">ℳ</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="explore.html">Explore</a> 
<a href="follow.html">Follow</a> 
<a href="legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>

</body>
</html>
