<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
      font-weight: normal;
      color : #000000;
    }
    a:before{
        content: "(";
    }
    a:after{
        content: ")";
    }
    a {
        text-decoration-line: none;
    }
    
     .column {
      float: left;
      width: 33.33%;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
</style>
<title>aboutℳonero - Learn</title>
</head>

<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Learn <span style="float:right;"> aboutℳonero </span></h1>
    

<hr>
<div>
<h2>Introduction</h2>
<div style="line-height:1.5;">
<ul>
<li><b>What is ℳonero?</b>: ℳonero is a currency that allows fast, inexpensive payments to and from anywhere in the world.
There are no multi-day holding periods and no risk of fraudulent chargebacks. It is safe from ‘capital controls’ - these are measures that restrict the flow of traditional currencies, sometimes to an extreme degree, in countries experiencing economic instability.
</li>
<br>
<li>
<b>Privacy-focused</b>:  ℳonero uses cryptography to shield sending and receiving addresses, as well as transacted amounts. Thus ℳonero transactions are confidential and untraceable. Every ℳonero transaction, by default, obfuscates sending and receiving addresses as well as transacted amounts. This always-on privacy means that every ℳonero user's activity enhances the privacy of all other users, unlike selectively transparent cryptocurrencies.
</li>
<br>
<li>
<b>Grassroots Development and Funding</b>: ℳonero is a grassroots community attracting the world's best cryptocurrency researchers and engineering talent. Over 500 developers have contributed to the ℳonero project, including 30 core developers. Forums and chat channels are welcoming and active. ℳonero's Research Lab, Core Development Team and Community Developers are constantly pushing the frontier of what is possible with cryptocurrency privacy and security.
</li>
</ul>
</div>
<br>
<hr>
<h2>User Manuals</h2>
These guides serve as resources for people who are interested in learning more about how to use Monero and the inner workings of the Monero blockchain.
<div style="line-height:1.5">
<ul>
<li><a href="/learn/privacy.html">Privacy</a>: To what degree are Monero transactions and balances private? </li>
<li><a href="https://en.bitcoin.it/wiki/Block_chain">Blockchain</a>: How is blockchain secure?</li>
<li><a href="/learn/supply-properties.html">Supply properties</a>: How is new monero minted?</li>
<li><a href="/learn/history.html">History</a>: Who created Monero? </li>
<li><a href="https://github.com/monero-ecosystem/monero-GUI-guide/blob/master/monero-GUI-guide.md">Wallet</a>: How to use the monero wallet.</li>
</ul>
</div>
<hr>
<h2>Recommended External Resources</h2>
These are some useful materials members of the community have written or created for learning about monero.
<div style="line-height:1.5">
<ul>
<li><a href="https://monero.stackexchange.com/">Stack Exchange</a>: Ask questions and receive answers from Core developers and other members of the community.</li>
<li><a href="https://www.getmonero.org/library/Zero-to-Monero-1-0-0.pdf">Zero to Monero</a>: A book for learning about the functionalities of Monero.</li>
<li><a href="https://www.youtube.com/watch?v=WOyC6OB6ezA&list=PLsSYUeVwrHBnAUre2G_LYDsdo-tD0ov-y">Breaking Monero</a>: A video series detailing the advanced technologies incorporated into Monero's privacy.</li>
<li><a href="https://masteringmonero.com/">Mastering Monero</a>: A book to learn about the technical details of the Monero project.</li>
<li><a href="https://www.youtube.com/channel/UC3Hx81QYLoEQkm3vyl4N4eQ">Monero Talk Youtube Channel</a>: A regular video series interviewing and discussing Monero related topics.</li>
<li><a href="https://web.getmonero.org/resources/research-lab/">Monero Research Lab</a>: The leading research group advancing monero's privacy technology.</li>
<li><a href="https://www.youtube.com/channel/UCKxLNPJeEjPXOke55i5AIXA">Monero Community Workgroup Youtube Channel</a> Contains many videos for learning about the monero project. </li>
<li><a href="https://www.youtube.com/channel/UCnjUpT9gGxyQ_lud7uKoTCg">Monero Youtube Channel</a>: Contains basic introductions to concepts like ring signatures. </li>
<li><a href="https://web.getmonero.org/get-started/what-is-monero/">getmonero.org</a>: Core development team website for introducing monero.</li>
</ul>

Also see the <a href="participate.html">Participate</a> page.
<br>
</div>
<hr>
<h2>All Terms and Topics: </h2>
<div style="line-height:1.5">
<div class="row">
<div class="column">
<ul>
A
<li><a href="/learn/account.html">Account</a></li>
<li><a href="/learn/address.html">Address</a></li>
<li><a href="/learn/airdrop.html">Airdrop</a></li>
<li><a href="/learn/altcoin.html">Altcoin</a></li>
<li><a href="/learn/anti-money-laundering.html">Anti-Money Laundering</a></li>
<li><a href="/learn/asic.html">ASIC</a></li>
<li><a href="/learn/atomic-swap.html">Atomic swap</a></li>
<li><a href="/learn/atomic-units.html">Atomic units</a></li>
<br>B
<li><a href="/learn/b-money.html">B-money</a></li>
<li><a href="/learn/balance.html">Balance</a></li>
<li><a href="/learn/bisq.html">Bisq</a></li>
<li><a href="/learn/bitcoin.html">Bitcoin</a></li>
<li><a href="/learn/bitcoin-talk.html">BitcoinTalk</a></li>
<li><a href="/learn/block.html">Block</a></li>
<li><a href="/learn/block-explorer.html">Block explorer</a></li>
<li><a href="/learn/block-height.html">Block height</a></li>
<li><a href="/learn/block-interval.html">Block interval</a></li>
<li><a href="/learn/block-reward.html">Block reward</a></li>
<li>Blockchain</li><li>Block size debate</li><li>Boolberry</li><li>Bootstrap-node</li><li>Botnet</li><li>Bulletproofs</li><li>Bytecoin</li>
<br>C<li>c++</li><li>Cake wallet</li><li>Chain reorganization</li><li>Change</li><li>Check-sum</li><li>Clearnet</li><li>CLI</li><li>Cloud Mining</li><li>Coinbase transaction</li><li>Cold storage</li><li>Confidential transactions</li><li>Confirmation</li><li>Consensus</li><li>Contingency plans</li><li>Controlled inflation</li><li>Controlled supply</li><li>Core development team</li><li>CPU mining</li><li>Cryptocurrency</li><li>Cryptographic Signature</li><li>Cryptography</li><li>CryptoNight</li><li>CryptoNote</li><li><a href="/learn/cryptonote-standards.html">CryptoNote Standards</a></li>
<br>D<li>Daemon</li><li>Decentralization</li><li>Decentralized Exchange</li><li>Deflationary spiral</li><li>Denominations</li><li>Development</li><li>Difficulty</li><li>Distribution of nonces and hashes</li><li>Double spending attack</li><li>Dust</li><li>Dynamic block size limit</li>

<br>E<li>Elliptic curve</li><li>Emission curve</li><li>Encrypted messaging</li><li>Entropy</li><li>Error log</li><li>Esperanto</li>
</ul></div><div class="column"><ul>
<br>F<li>Fair Distribution</li><li>FATF</li><li>Fluffy blocks</li><li>Full node</li><li>Fungibility</li>
<br>G<li>Garlic Encryption</li><li>Garlic Routing</li><li>Genesis block</li><li>Getmonero website</li><li>Github</li><li>Global node distribution</li><li>Globee</li><li>Governance</li>
<br>H<li>Hard fork</li><li>Hardware wallet</li><li>Hash</li><li>Hashcash</li><li>Hashing Algorithm</li><li>Hashrate</li><li>Header</li><li><a href="/learn/history.html">History</a></li><li>Hot wallet</li>
<br>I<li>I2P</li><li>ICO</li><li>Inflation</li><li>Integrated address</li><li>IRC channels</li>
<br>K<li>Key image</li><li>Keys file</li><li>Kovri</li>
<br>L<li>Legal</li><li>LMDB</li>
<br>M<li>Median blocksize</li><li>Mempool</li><li>Merged Mining</li><li>Message signing</li><li>Mimblewimble</li><li>Mining</li><li>Mining hardware</li><li>Mining pool</li><li>Mining profitability</li><li>Mnemonic Seed Phrase</li><li>Monero Reddit</li><li>Monero Research Lab</li><li>monero-wallet-cli</li><li>monero-wallet-gui</li><li>monero-wallet-rpc</li><li>monerod</li><li>Multisignature</li>
<br>N<li>Network Attacks</li><li>Nicolas van Saberhagen</li><li>Node</li><li>Nonce</li><li>Not your keys, not your coins</li>
</ul></div><div class="column"><ul>
<br>O<li>Offline transactions</li><li>OpenAlias</li><li>OpSec</li><li>Orphaned block</li>
<br>P<li>Paper wallet</li><li>Payment ID</li><li>Pedersen commitment</li><li>Ports</li><li>PPLNS</li><li>PPS</li><li><a href="/learn/privacy.html">Privacy</a></li><li>Private key</li><li>Proof-of-Work</li><li>Provable fairness</li><li>Pruning</li>
<br>R<li>RandomX</li><li>Range proofs</li><li>Release naming</li><li>Reorganization of the blockchain</li><li>Ring CT</li><li>Ring signature</li><li>Ring size</li><li>Ringdb</li><li>rpc</li>
<br>S<li>Satoshi Nakamoto</li><li>Scalability</li><li>SHA-256</li><li>Securing your private keys</li><li>Side chain</li><li><a href="/learn/sound-money.html">Sound Money</a></li><li>Source Code</li><li>Spam Attack</li><li>Spend key</li><li>SSU</li><li>Stagenet</li><li>Stealth Address</li><li>Subaddress</li><li>Supply Auditing</li><li><a href="/learn/supply-properties.html">Supply properties</a></li><li>Sweep transaction</li>
<br>T<li>Tail emission</li><li>Testnet</li><li>Third party wallets</li><li>Tor</li><li>Transaction</li><li>Transaction Output</li><li>Travel Rule</li><li>Tx-extra</li><li>Txo-set</li>
<br>U<li>Unlinkability</li><li>Unlocked-balance</li><li>Untraceability</li><li>User Guide</li><li>User Guides</li>
<br>V<li>View Key</li><li>View Only</li>
<br>W<li>Wallet</li><li>Wallet Providers</li></ul>
</div>

</div>
</div>
</div>
<hr>
<div style="line-height:1.5">
<a href="index.html">ℳ</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="explore.html">Explore</a> 
<a href="follow.html">Follow</a> 
<a href="legal.html">Legal</a> 
<span style="float:right;"> 
aboutmonero@protonmail.com </span>
</div>
<hr>
</div>
</body>
</html>
