<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutmonero - Participate</title>
</head>
<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Participate</h1>
<hr>
<div style="font-size: large;">
<br>
<div style = "margin-left:5%">
    <a href="https://www.reddit.com/r/monero">Reddit</a><br>
    <a href="https://monero.stackexchange.com/">Stack Exchange</a><br>
    <a href="https://bitcointalk.org/index.php?topic=583449.0">BitcoinTalk Thread</a><br>
    <a href="https://telegram.me/bitmonero">Telegram Chat</a><br>
    <a href="https://github.com/monero-project/monero">Source Code</a><br>
    <a href="https://web.getmonero.org/resources/research-lab/">Monero Research Lab</a><br>
<br>
</div>
</div>
<hr>
<div style="font-size: large">
ℳ
<a href="index.html">Home</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="statistics.html">Statistics</a> 
<a href="newsletter.html">Newsletter</a> 
<a href="legal.html">Legal</a> 
</div>
<hr>
</div>
</body>
</html>
