<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutmonero - Participate</title>
</head>
<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Participate</h1>
<hr>
<h2>Contribute</h2>
Everyone can contribute to the Monero network in some manner. 
<div style="line-height:1.5">
<ul>
<li><a href="/learn/run-a-node.html">Run a node</a>: Host a node on the Monero network.</li>
<li><a href="/learn/mining.html">Mining</a>: Contribute hash power to the Monero network and secure transactions. </li>
<li><a href="https://github.com/monero-project/">Development</a>: Have some coding skills? Help develop the Monero project. </li>
<li><a href="/learn/submission.html">Submit an aboutmonero article</a>: Add a page to the aboutmonero website. </li>
</ul>
</div>
<br>
<hr>
<h2>Communities</h2>
Join in the discussion! These are various community groups across the web participating in the Monero project.
<div style="line-height:1.5">
<ul>
    <li><a href="https://www.reddit.com/r/monero">Reddit</a>: A public forum for discussing Monero and asking questions.</li>
    <li><a href="https://monero.stackexchange.com/">Stack Exchange</a>: Ask questions and receive answers from Core developers and other members of the community.</li>
    <li><a href="https://bitcointalk.org/index.php?topic=583449.0">BitcoinTalk Thread</a>: A public forum to discuss the Monero project.</li>
    <li><a href="https://telegram.me/bitmonero">Telegram Chat</a>: Public chatroom for discussing Monero.</li>
    <li><a href="https://github.com/monero-project/monero">Source Code</a>: The github repository for the Monero code.</li>
    <li><a href="https://web.getmonero.org/resources/research-lab/">Monero Research Lab</a>: The leading research group advancing monero's privacy technology.</li>
    <li><a href="https://www.youtube.com/channel/UC3Hx81QYLoEQkm3vyl4N4eQ">Monero Talk Youtube Channel</a>: A regular video series interviewing and discussing Monero related topics.</li>
    <li><a href="https://www.youtube.com/channel/UCKxLNPJeEjPXOke55i5AIXA">Monero Community Workgroup Youtube Channel</a>: Contains many videos for learning about the monero project. </li>
<br>
</ul>
</div>
<hr>
<div style="line-height:1.5">
ℳ
<a href="index.html">Home</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="statistics.html">Statistics</a> 
<a href="newsletter.html">Newsletter</a> 
<a href="legal.html">Legal</a> 
aboutmonero@protonmail.com
</div>
<hr>
</div>
</body>
</html>
