<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutmonero - Statistics</title>
</head>
<body>
<div style="margin-left:20%;margin-right:20%">
<h1>Statistics</h1>
<hr>
THIS PAGE IS CURRENTLY UNDER CONSTRUCTION.
<div style="font-size: large;">
<table>
<tr>
    <th>Data</th>
    <th></th>
    <th>Chart</th>
    <th>Description</th>
</tr>
<tr>
    <td>Market Price:</td>
    <td>$78.75 </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Average USD market price across major monero exchanges.</td>
</tr>
<tr>
    <td>Market Capitalization: </td>
    <td>$1,343,946,250 </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Total USD value of monero supply in circulation.</td>
</tr>
<tr>
    <td>Circulating Supply: </td>
    <td>ℳ17,451,760  </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Total number of monero that has been mined.</td>
</tr>
<tr>
    <td>Inflation Rate (1Y): </td>
    <td>3.51% </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Percent of circulating supply that has been mined in the past year.</td>
</tr>
<tr>
    <td>Network Hashrate: </td>
    <td>1,399,762,920 H/s </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Estimated number of hashes per second the monero network is performing.</td>
</tr>
<tr>
    <td>Miner's Block Reward: </td>
    <td>ℳ1,404 </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Total value of coinbase block rewards and transaction fees paid to miners per day.</td>
</tr>
<tr>
    <td>Block Size last 24h: </td>
    <td>30,563 B </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a> </td>
    <td>24 hour average block size in bytes.</td>
</tr>
<tr>
    <td>Blockchain Size: </td>
    <td>60.5 GB </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Total size of all block headers and transactions.</td>
</tr>
<tr>
    <td>Transactions last 24h: </td>
    <td>8,244 </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Aggregate number of confirmed monero transactions in the past 24 hours.</td>
</tr>
<tr>
    <td>Mempool Transactions: </td>
    <td>24 </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Number of transactions waiting to be confirmed.</td>
</tr>
<tr>
    <td>Largest Mining Pool: </td>
    <td>26.5% </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Percent of hashrate that the largest pool is contibuting to the network.</td>
</tr>
<tr>
    <td>Reddit posts last 7d: </td>
    <td>12 </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Posts on the monero reddit in the past 24 hours.</td>
</tr>
<tr>
    <td>Github commits last 7d: </td>
    <td>10 </td>
    <td><a href="">1W</a> <a href="">1M</a> <a href="">1Y</a> <a href="">All</a></td>
    <td>Commits to the monero-project github in the past 24 hours.</td>
</tr>
</table>
</div>
<hr>
<div style="font-size: large">
ℳ
<a href="index.html">Home</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="statistics.html">Statistics</a> 
<a href="newsletter.html">Newsletter</a> 
<a href="legal.html">Legal</a> 
</div>
<hr>
</div>
</body>
</html>
