<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutmonero - Statistics</title>
</head>
<body>
<div style="margin-left:20%;margin-right:20%">
<h1>Statistics</h1>
<hr>
<center>
<br>
Statistics and charts for the Monero network. Please note that many of the charts are logarithmic in scale.
<br><br>
<table style="line-height:1.5">
<tr>
    <th>Data</th>
    <th></th>
    <th>Chart</th>
    <th>Description</th>
</tr>
<tr>
    <td>Market Price:</td>
    <td>${{data[0]}}</td>
    <td><a href="../static/data/price_1M.png">1M</a> <a href="../static/data/price_1Y.png">1Y</a> <a href="../static/data/price_all.png">All</a></td>
    <td align ="center">Average USD market price across major monero exchanges.</td>
</tr>
<tr>
    <td>Circulating Supply: </td>
    <td>ℳ{{data[4]}}</td>
    <td><a href="../static/data/supply_1M.png">1M</a> <a href="../static/data/supply_1Y.png">1Y</a> <a href="../static/data/supply_all.png">All</a></td>
    <td align ="center">Total number of monero in circulation.</td>
</tr>
<tr>
    <td>Market Capitalization: </td>
    <td>${{data[6]}}</td>
    <td><a href="../static/data/marketcap_1M.png">1M</a> <a href="../static/data/marketcap_1Y.png">1Y</a> <a href="../static/data/marketcap_all.png">All</a></td>
    <td align ="center">USD value of total monero supply in circulation.</td>
</tr>
<tr>
    <td>Miner's Block Reward: </td>
    <td>ℳ{{data[5]}} </td>
    <td> <a href="../static/data/block_reward_1M.png">1M</a> <a href="../static/data/block_reward_1Y.png">1Y</a> <a href="../static/data/block_reward_all.png">All</a></td>
    <td align ="center">Value of newly minted monero paid to miners per block.</td>
</tr>
<tr>
    <td>Inflation Rate (1Y): </td>
    <td>%{{data[7]}}</td>
    <td><a href="../static/data/inflation_1M.png">1M</a> <a href="../static/data/inflation_1Y.png">1Y</a> <a href="../static/data/inflation_all.png">All</a></td>
    <td align ="center">Percentage of circulating supply mined in the past year.</td>
</tr>
<tr>
    <td>Fees Paid Per Block: </td>
    <td>ℳ{{data[10]}} </td>
    <td><a href="../static/data/fees_1M.png">1M</a> <a href="../static/data/fees_1Y.png">1Y</a> <a href="../static/data/fees_all.png">All</a></td>
    <td align ="center">Average (Geometric) fee amount per block paid to miners.</td>
</tr>
<tr>
    <td>Network Hashrate: </td>
    <td>{{data[3]}}</td>
    <td><a href="../static/data/hashrate_1M.png">1M</a> <a href="../static/data/hashrate_1Y.png">1Y</a> <a href="../static/data/hashrate_all.png">All</a></td>
    <td align ="center">Estimated hashes/second the monero network is performing.</td>
</tr>
<tr>
    <td>Transactions Per Day: </td>
    <td>{{data[2]}} </td>
    <td><a href="../static/data/transactions_1M.png">1M</a> <a href="../static/data/transactions_1Y.png">1Y</a> <a href="../static/data/transactions_all.png">All</a></td>
    <td align ="center">Number of monero transactions in the previous day.</td>
</tr>
<tr>
    <td>Nonce Uniformity: </td>
    <td>%{{data[11]}} </td>
    <td><a href="../static/data/nonces_1M.png">1M</a> <a href="../static/data/nonces_1Y.png">1Y</a> <a href="../static/data/nonces_all.png">All</a></td>
    <td align ="center">The uniformity of the previous 720 blocks' nonces.</td>
</tr>
<tr>
    <td>Block Count Per Day: </td>
    <td>{{data[1]}} </td>
    <td> <a href="../static/data/block_count_1M.png">1M</a> <a href="../static/data/block_count_1Y.png">1Y</a> <a href="../static/data/block_count_all.png">All</a></td>
    <td align ="center">The number of blocks mined in the previous day.</td>
</tr>
<tr>
    <td>Blockchain Height: </td>
    <td>{{data[14]}} </td>
    <td><a href="../static/data/block_height_1M.png">1M</a> <a href="../static/data/block_height_1Y.png">1Y</a> <a href="../static/data/block_height_all.png">All</a></td>
    <td align ="center">Total number of blocks in the blockchain.</td>
</tr>
<tr>
    <td>Block Size: </td>
    <td>{{data[8]}} </td>
    <td><a href="../static/data/block_size_1M.png">1M</a> <a href="../static/data/block_size_1Y.png">1Y</a> <a href="../static/data/block_size_all.png">All</a></td>
    <td align ="center">Mean (Geometric) block size. </td>
</tr>
<tr>
    <td>Blockchain Size: </td>
    <td>{{data[9]}} </td>
    <td><a href="../static/data/blockchain_size_1M.png">1M</a> <a href="../static/data/blockchain_size_1Y.png">1Y</a> <a href="../static/data/blockchain_size_all.png">All</a></td>
    <td align ="center">Total size of blockchain.</td>
</tr>
<tr>
    <td>Version: </td>
    <td>{{data[12]}}.{{data[13]}} </td>
    <td><a href="../static/data/version_1M.png">1M</a> <a href="../static/data/version_1Y.png">1Y</a> <a href="../static/data/version_raw.png">All</a></td>
    <td align ="center">Major and minor version of client used by miner.</td>
</tr>
</table>
</center>
<br>
<hr>
<div style="line-height:1.5">
ℳ
<a href="index.html">Home</a>
<a href="learn.html">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="participate.html">Participate</a> 
<a href="statistics.html">Statistics</a> 
<a href="newsletter.html">Newsletter</a> 
<a href="legal.html">Legal</a> 
aboutmonero@protonmail.com
</div>
<hr>
</div>
</body>
</html>
