<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
    * {
      font-family: monospace;
    }
</style>
<title>aboutmonero - Sound Money</title>
</head>
<body>
<div style="margin-left:25%;margin-right:25%">
<h1>Sound Money</h1>
<hr>
<div style="font-size: large;">
There have been many forms of money in history, but some forms have worked better than others because they have characteristics that make them more useful. The characteristics of money are durability, portability, divisibility, uniformity, limited supply, and acceptability. Let's compare two examples of possible forms of money:
<ul>
    <li>A cow. Cattle have been used as money at different points in history.</li>
    <li>ℳonero equal to the value of one cow.</li>
</ul>
Let's run down our list of characteristics to see how they stack up.
<ol>
    <li><b>Durability</b> A cow is fairly durable, but a long trip to market runs the risk of sickness or death for the cow and can severely reduce its value. Units of ℳonero cannot deteroriate or become broken in any way. It exists digitally within the decentralized peer-to-peer network which has no central point of failure.</li>
    <li><b>Portability.</b> While the cow is difficult to transport to the store, the currency can be easily be transferred wherever an internet connection is available.</li>
    <li><b>Divisibility.</b> A unit of ℳonero is practically infinitely divisble, up to 12 decimal places. A cow, on the other hand, is not very divisible.</li>
    <li><b>Uniformity.</b> Cows come in many sizes and shapes and each has a different value; cows are not a very uniform form of money. Every unit of ℳonero is indistinguishable. Because accounts and transactions are encrypted, every unit of ℳonero is essentially freshly minted currency. That is why every ℳonero is treated equally</li>
    <li><b>Limited supply.</b> In order to maintain its value, money must have a limited supply. While the supply of cows is fairly limited, if they were used as money, you can bet ranchers would do their best to increase the supply of cows, which would decrease their value. The supply, and therefore the value, of ℳonero is established by code agreed upon by the network participants so that the amount of money created is known and controlled.</li>
    <li><b>Acceptability.</b> Even though cows have intrinsic value, some people may not accept cattle as money. In contrast, as ℳonero adoption grows, people will be more than willing to accept your ℳonero. ℳonero can also be exchanged on numerous currency exchanges for any major currency in the world.</li>
</ol>
Well, it seems "udderly" clear at this point that ℳonero is a much better form of money than cattle. Apply these same proporties to other currencies like gold, USD, or Bitcoin and see how they stand up against ℳonero. Is gold portable? Is there a limited supply of US Dollars? Is every Bitcoin uniform? You will come to realize why ℳonero is sound money.
<br>
<br>


</div>
<hr>
<div style="font-size: large">
ℳ
<a href="../../index.html">Home</a>
<a href="https://web.getmonero.org/get-started/what-is-monero/">Learn</a> 
<a href="https://github.com/monero-project/monero-gui/releases">Download</a> 
<a href="../../participate.html">Participate</a> 
<a href="../../statistics.html">Statistics</a> 
<a href="../../newsletter.html">Newsletter</a> 
<a href="../../legal.html">Legal</a> 
</div>
<hr>
</div>
</body>
</html>
